<ng-container>
  <div class="col-md-4 mb-4">
    <div class="card">
      <div
        class="card-header"
        [ngStyle]="{
          'background-color': ingredient.quantity === 0 ? 'red' : 'greenyellow'
        }"
      >
        <h5 class="card-title">{{ ingredient.name }}</h5>
      </div>

      <div class="card-body">
        <img
          class="card-img-top"
          [src]="ingredient.image.toLowerCase()"
          alt="Card image cap"
        />
        <p class="card-text">{{ ingredient.description }}</p>
        <p class="card-text">En bodega: {{ ingredient.quantity }}</p>
      </div>
    </div>
  </div>
</ng-container>
